body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.center-container {
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
